* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: #75c6b7;
}

.navbar {
  background-color: #255c50;
  padding-left: 2rem;
}

.logo-navbar {
  opacity: 0.7;
}

/*Hero Section*/

.container-hero {
  width: 100%;
  height: 80%;
  position: relative;
  background-image: url(../img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 340%;
  animation: movimiento 28s infinite linear alternate;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }

  to {
    background-position: top right;
  }
}

.work-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-linear-gradient(right, black, #b2d9e4);
  opacity: 0.6;
}

.capital01::first-letter{
  color: #01d4ffad;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.capital02::first-letter{
  color: #004167ad;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.capital03::first-letter{
  color: #2d6700ad;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.work-text {
  position: relative;
}

.decoration01 {
  text-decoration: none;
  color: #44cdff;
}
.decoration02 {
  text-decoration: none;
  color: white;
}

/*Challenge Section*/

.desafios {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../img/bg-cha1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 340%;
  animation: movimiento2 25s infinite linear alternate;
}

@keyframes movimiento2 {
  from {
    background-position: bottom right;
  }

  to {
    background-position: top left;
  }
}

.hero-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-linear-gradient(right, black, #b2d9e4);
  opacity: 0.6;
}

.hero-text {
  width: 100%;
  max-width: 70%;
  position: relative;
  top: 10%;
}

/* Cards Section */

.desafios-title {
  width: 50%;
}

/* Styles cards */

.container__cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 350px;
  margin: 10px;
  padding: 20px;
  box-shadow: 20px 20px 50px #00000080;
  background: #ffffff1a;
  border-left: 1px solid #ffffff80;
  border-top: 1px solid #ffffff80;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 250ms;
}

.card:hover {
  transform: translateY(-15px);
}

.card:hover .cover__card img {
  transform: scale(1.2);
}

.cover__card {
  width: 100%;
  height: 200px;
  border-radius: 14px;
  overflow: hidden;
}

.cover__card img {
  width: 110%;
  transition: all 200ms;
}

.card > h2 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  color: #e4f9f3;
}

.card > p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #feeac3;
  letter-spacing: 0.5px;
}

.card > hr {
  margin-top: 30px;
  border: none;
  height: 0.2px;
  background: #41414138;
}

.footer__card {
  margin-top: 10px;
  display: flex;
  color: #c6f9d4;
  justify-content: space-between;
}

.footer__card > h3 {
  font-size: 15px;
  font-weight: 500;
}

@media screen and (max-width: 1920px) {
  .container__cards {
    position: relative;
    left: 0;
    transform: none;
    margin-top: 10px;
    padding-bottom: 50px;
  }
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
